:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: darkgray;
  text-align: center;
}

main {
  max-height: 90%;
  background: mediumturquoise;
  border-radius: 2rem;
}

#be-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; */
}

th {
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
}

td {
  padding: 1rem;
  align-content: space-around;
}

#table {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#coin-box {
  border: solid gray 0.25rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  max-width: 45%;
  /* min-height: 200px; */
}

#formatting-drama {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

*/ #center-values {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  /* min-width: 400px; */
}
